<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Sistem Pendukung Keputusan" />
	<meta name="keywords" content="Sistem Pendukung Keputusan" />
	<meta name="author" content="Sistem Pendukung Keputusan" />
	<title>Sistem Pendukung Keputusan</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>

<body>
	<h1>Wadidaw! 404 Om.</h1>

	<p>Maaf halaman yang Anda cari tidak ada!.</p>

</body>

</html>